<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:label="Call Screen Assistant"
        android:theme="@style/Theme.Material3.DayNight">

        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".SettingsActivity"/>
        <service
    android:name=".CallScreenService"
    android:permission="android.permission.BIND_SCREENING_SERVICE"
    android:exported="true">

    <intent-filter>
        <action android:name="android.telecom.CallScreeningService"/>
    </intent-filter>

</service>
    </application>

</manifest>
